
article {
    padding-top: 100px;   
}

.rejilla {    
    display: grid;
    grid-template-columns: 400px 400px;    
    justify-content: center;
}

label{    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left  !important;    
    margin-top: 15px;
}


.form-group{
    padding: 15px;
}

.form-group input {
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
}

.btn-secondary{
    background-color: gray;
    padding: 5px;
    font-size: 12px;
}


/*Modal*/
.modal-contenido{
    background-color:aqua;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:auto;
    transition: all 1s;
  }